{{ show_text }}

<br>

<table>
  <thead>
    <tr>
      <th>{{ 'movie'|t }}</th>
      <th>{{ 'device'|t }}</th>
      <th>{{ 'score'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for i, log in logs  %}
        <tr>
            <td>{{ log.movie }}</td>
            <td>{{ log.device }}</td>
            <td>{{ log.score }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<br>